.button {
  padding: 7px 16px;
  color: var(--color-green);
  border-radius: 4px;
  border: 1px solid var(--color-green);
  text-transform: uppercase;
  white-space: nowrap;
}

.button:active {
  box-shadow: 0px 0px 4px 4px whitesmoke;
}

.button:hover {
  background: radial-gradient(
      50% 138.28% at 50% 0%,
      rgba(246, 255, 142, 0.75) 0%,
      rgba(245, 255, 136, 0) 100%
    ),
    #9ac802;
  color: var(--color-black-dark);
}
