.historySelect {
  justify-content: space-between;
  margin-bottom: 16px;
}

.toggle {
  padding: 4px 6px;
  border: none;
  color: var(--color-grey);
}

.toggle:not(:last-child) {
  margin-right: 11px;
}

.toggleOn {
  background-color: var(--color-green);
  color: var(--color-black-dark);
}
