.collapse {
  margin: 17.5px 23.5px 17.5px 23.5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bordered {
  border-bottom: 1px solid var(--color-grey);
}

.collapse > :first-child {
  justify-content: space-between;
}

.collapse > :first-child > * {
  color: var(--color-green);
}

.collapse > :first-child > :nth-child(2) {
  flex: 2;
  text-transform: uppercase;

  margin-left: 15px;
}
.children {
  margin-top: 20px;
  margin-bottom: 24px;
}

.collapseOpen {
  transform: rotate(90deg);
}
