.sideBar {
  flex: 1;
  min-width: 260px;
  background-color: var(--color-black-dark);
  min-height: 90vh;
}

@media screen and (max-width: 700px) {
  .sideBar {
    position: absolute;
    top: 70px;
    min-height: 70%;
    max-height: 70%;
    overflow: auto;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.sideBar > *:last-child {
  border-bottom: none;
}

.flexRow {
  justify-content: flex-start;
  align-items: flex-start;
}

.flexRow > * {
  flex: 1;
}

.flexRow > :first-child {
  margin-right: 20px;
}

.flexRow > * > *:not(:last-child) {
  margin-bottom: 4px;
}

.tradingHistory {
  align-items: stretch;
}

.tradingHistory > :last-child {
  width: 100%;
}
